[submodule "channels/guix-channel"]
	path = channels/guix-channel
	url = https://github.com/jamartin9/guix-channel
	update = merge
	shallow = true
	branch = master
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/jamartin9/doom-emacs
	shallow = true
	update = merge
	branch = develop
